@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
}

hr {
  width: 98%;
  margin: auto;
}

h4 {
  padding-bottom: 5px;
}

.page {
  background-color: #eeeeee;
}

.container {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
}

.flex_container {
  display: flex;
  /* width: 90%; */
  padding: 20px 0;
  /* margin: 0 auto; */
  justify-content: space-between;
  flex-direction: row;
}

.left_container {
  width: 68%;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
}

.right_container {
  width: 30%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
}

.collection_figure {
  max-height: 400px;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.collection_image {
  width: 100%;
  object-fit: contain;
}

.image_file {
  flex-grow: 1;
}

.image_purchase {
  margin-top: 20px;
}

.purchase_link {
  display: block;
  padding: 15px 50px;
  background-color: #9fedd7;
  color: black;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}

.purchase_link:hover {
  background-color: #009aa8;
  color: white;
  transition: background-color 0.2s, color 0.2s;
}

.image_info {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
}

.image_title {
  padding: 20px;
}

.image_description {
  padding: 20px;
}

.image_category {
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .collection_figure {
    max-height: 200px;
  }

  .flex_container {
    flex-direction: column;
  }

  .left_container {
    margin-bottom: 20px;
    width: 100%;
  }

  .right_container {
    width: 100%;
  }
}