/* 
color palette:
#026670 - dark green
#9fedd7 - light green
#fef9c7 - light yellow
#fce181 - yelow
#edeae5 - light grey
*/

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: white;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow: scroll;
}

.first {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-text {
  text-align: center;
}

.search-button {
  margin-left: 20px;
}

.search-form {
  position: relative;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
}

.search-form:focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}

.search-input::-webkit-search-cancel-button {
    appearance: none;
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;
}

.search-button svg {
    width: 20px;
    height: 20px;
    fill: #5a6674;
}

/* Links */
a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}
.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
  font-size: 15px;
  line-height: 1.5;
  z-index: -1;
}

.links-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.links li {
  line-height: 2.8;
}

footer {
  display: block;
  text-align: center;
  color: white;
  background-color: black;
  padding: 20px;
}

footer h5 {
  margin: 0;
}

@media (max-width: 700px) {
  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
.links {
  display: none;
}

  .links .links-inner {
    grid-template-columns: 1fr;
  }

  .links .links-inner ul {
    margin-bottom: 20px;
  }
}

.holder {
  width: 500px;
  height: 250px;
  margin-top: 40px;
  position: relative;
}

.holder .circle {
  border-radius: 100% 100% 0 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  transform-origin: bottom center;
}

.circle:nth-child(1) {
  size: 25px; 
  background: #FFA7A3; 
  border-bottom: none;
  border-radius: 25px 25px 0 0;
  width: 25px;
  height: 12.5px; /*(width/2)*/
  z-index: 15;
  animation: circle-1 10s infinite ease-in-out;
}
@keyframes circle-1 {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(-360deg); /*(number * 360)*/
  }
}

.circle:nth-child(2) {
  size: 31px; /*(31px*(number - 1))*/
  border: 13px solid  #FFD6A3;
  border-bottom: none;
  border-radius: 31px 31px 0 0;
  width: 31px;
  height: 15.5px;
  z-index: 14;
  animation: circle-2 10s infinite ease-in-out;
}
@keyframes circle-2 {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(-720deg);
  }
}

.circle:nth-child(3) {
  size: 62px;
  border: 13px solid  #FAFFA3;
  border-bottom: none;
  border-radius: 62px 62px 0 0;
  width: 62px;
  height: 31px;
  z-index: 13;
  animation: circle-3 10s infinite ease-in-out;
}
@keyframes circle-3 {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(-1080deg);
  }
}

.circle:nth-child(4) {
    size: 93px;
    border: 13px solid #CDFFA3;
    border-bottom: none;
    border-radius: 93px 93px 0 0;
    width: 93px;
    height: 46.5px;
    z-index: 12;
    animation: circle-4 10s infinite ease-in-out;
  }
  @keyframes circle-4 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-1444deg);
    }
  }

  .circle:nth-child(5) {
    size: 122px;
    border: 13px solid #A3BDFF;
    border-bottom: none;
    border-radius: 122px 122px 0 0;
    width: 122px;
    height: 61px;
    z-index: 11;
    animation: circle-5 10s infinite ease-in-out;
  }
  @keyframes circle-5 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-1800deg);
    }
  }

  .circle:nth-child(6) {
    size: 155px;
    border: 13px solid  #D6A3FF;
    border-bottom: none;
    border-radius: 155px 155px 0 0;
    width: 155px;
    height: 77.5px;
    z-index: 10;
    animation: circle-6 10s infinite ease-in-out;
  }
  @keyframes circle-6 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-2160deg);
    }
  }

  .circle:nth-child(7) {
    size: 186px;
    border: 13px solid #FFA3DC;
    border-bottom: none;
    border-radius: 186px 186px 0 0;
    width: 186px;
    height: 93px;
    z-index: 9;
    animation: circle-7 10s infinite ease-in-out;
  }
  @keyframes circle-7 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-2520deg);
    }
  }

  .circle:nth-child(8) {
    size: 217px;
    border: 13px solid #eeeeee;
    border-bottom: none;
    border-radius: 217px 217px 0 0;
    width: 217px;
    height: 108.5px;
    z-index: 8;
    animation: circle-8 10s infinite ease-in-out;
  }
  @keyframes circle-8 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-2880deg);
    }
  }

  .circle:nth-child(9) {
    size: 248px;
    border: 13px solid #FFA7A3;
    border-bottom: none;
    border-radius: 248px 248px 0 0;
    width: 248px;
    height: 124px;
    z-index: 7;
    animation: circle-9 10s infinite ease-in-out;
  }
  @keyframes circle-9 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-3240deg);
    }
  }

  .circle:nth-child(10) {
    size: 279px;
    border: 13px solid  #FFD6A3;
    border-bottom: none;
    border-radius: 279px 279px 0 0;
    width: 279px;
    height: 139.5px;
    z-index: 6;
    animation: circle-10 10s infinite ease-in-out;
  }
  @keyframes circle-10 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-3600deg);
    }
  }

  .circle:nth-child(11) {
    size: 310px;
    border: 13px solid  #FAFFA3;
    border-bottom: none;
    border-radius: 310px 310px 0 0;
    width: 310px;
    height: 155px;
    z-index: 5;
    animation: circle-11 10s infinite ease-in-out;
  }
  @keyframes circle-11 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-3960deg);
    }
  }

  .circle:nth-child(12) {
    size: 341px;
    border: 13px solid  #CDFFA3;
    border-bottom: none;
    border-radius: 341px 341px 0 0;
    width: 341px;
    height: 170.5px;
    z-index: 4;
    animation: circle-12 10s infinite ease-in-out;
  }
  @keyframes circle-12 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-4320deg);
    }
  }

  .circle:nth-child(13) {
    size: 372px;
    border: 13px solid  #A3BDFF;
    border-bottom: none;
    border-radius: 372px 372px 0 0;
    width: 372px;
    height: 186px;
    z-index: 3;
    animation: circle-13 10s infinite ease-in-out;
  }
  @keyframes circle-13 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-4680deg);
    }
  }

  .circle:nth-child(14) {
    size: 403px;
    border: 13px solid  #D6A3FF;
    border-bottom: none;
    border-radius: 403px 403px 0 0;
    width: 403px;
    height: 201.5px;
    z-index: 2;
    animation: circle-14 10s infinite ease-in-out;
  }
  @keyframes circle-14 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-5040deg);
    }
  }

  .circle:nth-child(15) {
    size: 434px;
    border: 13px solid  #FFA3DC;
    border-bottom: none;
    border-radius: 434px 434px 0 0;
    width: 434px;
    height: 217px;
    z-index: 1;
    animation: circle-15 10s infinite ease-in-out;
  }
  @keyframes circle-15 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-5400deg);
    }
  }

  .circle:nth-child(16) {
    size: 465px;
    border: 13px solid #eeeeee;
    border-bottom: none;
    border-radius: 465px 465px 0 0;
    width: 465px;
    height: 232.5px;
    z-index: 0;
    animation: circle-16 10s infinite ease-in-out;
  }
  @keyframes circle-16 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-5760deg);
    }
  }
