/* 
color palette:
#026670 - dark green
#9fedd7 - light green
#fef9c7 - light yellow
#fce181 - yelow
#edeae5 - light grey
*/

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

nav {
  display: block;
  width: 100%;
  background-color: #edeae5;
  padding: 10px;
}

nav a {
  color: #616161;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
}

nav a:hover {
  color: black;
  transition: color 0.3s;
}

nav .btnHighlight {
  background-color: #9fedd7;
  color: black;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

nav .btnHighlight:hover {
  background-color: #009aa8;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

nav .btnDivider {
  border-right: 1px solid black;
}

nav .logoImageNav {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  float: left;
}

nav .logoTextNav {
  padding: 0 20px;
  float: left;
  margin-top: 12px;
  margin-bottom: 0;
}

nav ul {
  list-style-type: none;
  float: right;
  margin-top: 15px;
}

nav ul li {
  float: right;
}

nav .clearFloat {
  clear: both;
}

/* Max navigation bar */
@media screen and (max-width: 700px) {
}
