nav {
    background-color: #edeae5;
    padding: 10px;
}

nav a {
    color: #616161;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
}

nav a:hover {
    color: black;
}

.btnHighlight {
    background-color: #9fedd7;
    color: black;
    border-radius: 10px;
}

.btnHighlight:hover {
    background-color: #009aa8;
    color: white;
}

.btnDivider {
    border-right: 1px solid black;
}

.logoImageNav {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    float: left;
}

.logoTextNav {
    padding: 0 20px;
    float: left;
    margin-top: 12px;
}

ul {
    list-style-type: none;
    float: right;
    margin-top: 15px;
}

li {
    float: right;
}

.clearFloat {
    clear: both;
}

/* Max navigation bar */
@media screen and (max-width: 700px) {
    
}