/* 
color palette:
#026670 - dark green
#9fedd7 - light green
#fef9c7 - light yellow
#fce181 - yelow
#edeae5 - light grey
*/

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: white;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.profile-header {
  background: #f1eee9;
  width: 100%;
  display: flex;
  height: 180px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.profile-img {
  float: left;
  width: 200px;
  height: 200px;
}
.profile-img > img {
  border-radius: 50%;
  height: 220px;
  width: 220px;
  border: 4px solid #fef9c7;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
}

.profile-nav {
  float: left;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}
.profile-nav .username {
  font-variant: small-caps;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 20px;
}
.profile-nav .other-info {
  display: flex;
  font-weight: bold;
  color: #777;
  transform: translateY(-70%);
}

.profile-option {
  width: 150px;
  height: 40px;
  background: #9fedd7;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  /* border-radius: 50%; */
  border-radius: 5px;
  align-items: center;
  /* cursor: pointer; */
  transition: all 0.5s ease-in-out;
  outline: none;
}
.profile-option .notification > i {
  color: black;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}
.profile-option:hover {
  background: #009aa8;
  border: 1px solid #9fedd7;
}
.profile-option .notification .alert-message {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: white;
  color: #9fedd7;
  border: 1px solid;
  padding: 4px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}
.profile-option .upload-image-link {
  display: block;
}
.profile-option .upload-image {
  padding: 10px;
  color: black;
}
.profile-option .upload-image .icon-plus {
  width: 12px;
}

.main-body {
  width: 100%;
  display: flex;
  padding-right: 15px;
}
.profile-side {
  width: 300px;
  background-color: #f1eee9;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 75px 30px 20px 30px;
  margin-left: 10px;
  z-index: 5;
}
.profile-info {
  width: 100%;
  color: #333;
  text-align: left;
  margin-right: 10px;
  font-size: 12px;
}
.profile-info td,
.profile-info th {
  padding: 8px;
}

#see-more-bio {
  color: blue;
  cursor: pointer;
  text-transform: lowercase;
}

.right {
  width: 100%;
}

.nav {
  width: 100%;
  z-index: -1;
}
.nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  background: #f1eee9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  list-style-type: none;
}
.nav ul li {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.nav ul li.active,
.nav ul li:hover {
  box-shadow: 0px -3px 0px #9fedd7 inset;
}

.tab-content {
  width: 100%;
  z-index: -1;
}

[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
  padding: 20px;
  width: 100%;
  text-align: center;
}

/* Settings Style */

.setting {
  display: block;
  text-align: left;
  width: 100%;
  padding: 20px 30px;
}
.table-setting {
  width: 50%;
  color: #333;
  text-align: left;
  vertical-align: top;
}
.table-setting td {
  padding: 8px;
}

.next_button {
  background-color: #9fedd7;
  border: 0;
  padding: 10px;
  height: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid lighten(gray, 40%);
}
.next_button:hover {
  background-color: #009aa8;
  box-shadow: 0px 15px 25px -5px rgba(0, 0, 0, 0.4);
  transform: scale(1.03);
}
.next_button:hover a {
  color: white;
}
.next_button a {
  color: #333;
  text-decoration: none;
  font-size: 16pt;
}

.warn {
  width: 90%;
  padding: 5px;
  font-size: 12px;
  color: red;
  margin-top: 50px;
}

.clearFloat {
  clear: both;
}

/* Posts style */
.item_list {
}

.item_data {
  display: grid;
  grid-template-columns: 2fr 3fr 0.5fr;
  grid-auto-rows: 250px;
  grid-template-areas: "image detail option";
  gap: 2px;
  text-align: left;
  border: 2px solid rgb(15, 15, 15);
  border-radius: 5px;
  overflow: hidden;
  background-color: black;
  margin-bottom: 20px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
}

.item_image {
  grid-area: image;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.item_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item_image:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}

.item_detail {
  grid-area: detail;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr min-content;
  grid-template-areas:
    "title"
    "price"
    "type"
    "category";
  background-color: #edeae5;
}

.item_title {
  grid-area: title;
  margin: auto 10px;
  padding-top: 10px;
}

.item_price {
  grid-area: price;
  margin: 0 10px;
}

.item_price .price_text {
  margin-top: 0;
  margin-bottom: 5px;
}

.item_type {
  grid-area: type;
  margin: 0 10px;
}

.item_type .type_text {
  margin-top: 0;
  margin-bottom: 5px;
}

.item_category {
  grid-area: category;
  margin: 0 10px;
  padding-bottom: 20px;
}

.item_category .category_text {
  margin-top: 0;
  margin-bottom: 5px;
}

.item_option {
  grid-area: option;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  overflow: hidden;
  background-color: black;
}

.item_option a {
  display: block;
  text-decoration: none;
  color: black;
}

.item_view {
  background-color: #9fedd7;
}

.item_view:hover {
  transition: 0.5s;
  background-color: #026670;
}

.item_view .view_text {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_view:hover .view_text {
  transform: scale(1.1);
  transition: 0.5s;
  color: white;
}

.item_edit {
  background-color: #9fedd7;
}

.item_edit:hover {
  transition: 0.5s;
  background-color: #026670;
}

.item_edit .edit_text {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_edit:hover .edit_text {
  transform: scale(1.1);
  transition: 0.5s;
  color: white;
}

.item_delete {
  background-color: #9fedd7;
}

.item_delete:hover {
  transition: 0.5s;
  background-color: #026670;
}

.item_delete .delete_text {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_delete:hover .delete_text {
  transform: scale(1.1);
  transition: 0.5s;
  color: white;
}
/* End of posts style */

@media screen and (max-width: 600px) {
  .profile-header {
    height: 140px;
  }

  .profile-img img {
    width: 150px;
    height: 150px;
    top: 30px;
  }

  .profile-nav {
    padding-left: 4%;
  }
  .profile-nav .other-info {
    transform: translateY(-80%);
  }

  .profile-option {
    display: none;
  }

  .main-body {
    flex-direction: column;
    padding: 0;
  }
  .profile-side {
    width: 100%;
    margin-left: 0;
    padding: 40px 20px 10px 60px;
  }

  .right {
    margin-top: 5px;
  }
  .nav ul {
    height: 35px;
  }
  .nav ul li {
    font-size: 14px;
    padding-top: 2%;
  }

  /* Settings style */

  .setting {
    display: block;
    text-align: left;
    width: 100%;
    padding: 0px;
  }
  .setting-header {
    display: none;
  }
  .table-setting {
    width: 100%;
  }
  .table-setting td p {
    font-size: 14px;
  }

  .next_button {
    padding: 4px 12px 4px 12px;
    height: 40%;
  }
  .next_button a {
    font-size: 16px;
  }

  .warn {
    width: 100%;
    text-align: center;
    padding: 0;
    font-size: 10px;
    margin-top: 75px;
  }

  /* Posts style */
  .item_data {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 30px;
    grid-template-areas:
      "image detail"
      "option option";
  }

  .item_detail {
    grid-area: detail;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "title"
      "price";
    background-color: #edeae5;
  }

  .item_title {
    grid-area: title;
    margin: auto 10px;
    padding-top: 10px;
  }

  .item_price {
    grid-area: price;
    margin: 0 10px;
  }

  .item_price hr {
    display: none;
  }

  .item_price .price_text {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .item_type {
    display: none;
  }

  .item_category {
    display: none;
  }

  .item_option {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2px;
    /* overflow: hidden; */
    background-color: black;
  }

  .item_view .view_text {
    margin-top: 4px;
  }

  .item_edit .edit_text {
    margin-top: 4px;
  }

  .item_delete .delete_text {
    margin-top: 4px;
  }
  /* End of posts style */
}
