/* 
color palette:
#026670 - dark green
#9fedd7 - light green
#fef9c7 - light yellow
#fce181 - yelow
#edeae5 - light grey
*/

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: white;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.profile-header {
  background: #f1eee9;
  width: 100%;
  display: flex;
  height: 180px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.profile-img {
  float: left;
  width: 200px;
  height: 200px;
}
.profile-img > img {
  border-radius: 50%;
  height: 220px;
  width: 220px;
  border: 4px solid #fef9c7;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
}

.profile-nav {
  float: left;
  flex-direction: column;
  justify-content: center;
  transform: translateX(180%);
}
.profile-nav .username {
  font-variant: small-caps;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 20px;
}
.profile-nav .other-info {
  display: flex;
  font-weight: bold;
  color: #777;
  margin-right: 5px;
  transform: translateY(-70%);
}

.profile-option {
  width: 40px;
  height: 40px;
  background: #9fedd7;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
}
.profile-option .notification > i {
  color: black;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}
.profile-option:hover {
  background: #009aa8;
  border: 1px solid #9fedd7;
}
.profile-option .notification .alert-message {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: white;
  color: #9fedd7;
  border: 1px solid;
  padding: 4px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.main-body {
  width: 100%;
  display: flex;
  padding-right: 15px;
}
.profile-side {
  width: 300px;
  background-color: #f1eee9;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 75px 30px 20px 30px;
  margin-left: 10px;
  z-index: 5;
}
.profile-info {
  width: 100%;
  color: #333;
  text-align: left;
  margin-right: 10px;
  font-size: 12px;
}
.profile-info td,
.profile-info th {
  padding: 8px;
}

.right {
  width: 100%;
}

.nav {
  width: 100%;
  z-index: -1;
}
.nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  background: #f1eee9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.nav ul li {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.nav ul li.active,
.nav ul li:hover {
  box-shadow: 0px -3px 0px #9fedd7 inset;
}

.tab-content {
  width: 100%;
  z-index: -1;
}

[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.setting {
  display: block;
  text-align: left;
  width: 100%;
  padding: 20px 30px;
}
.table-setting {
  width: 50%;
  color: #333;
  text-align: left;
  vertical-align: top;
}
.table-setting td {
  padding: 8px;
}

.next_button {
  background-color: #9fedd7;
  border: 0;
  padding: 10px;
  height: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid lighten(gray, 40%);
}
.next_button:hover {
  background-color: #009aa8;
  box-shadow: 0px 15px 25px -5px rgba(0, 0, 0, 0.4);
  transform: scale(1.03);
}
.next_button:hover a {
  color: white;
}
.next_button a {
  color: #333;
  text-decoration: none;
  font-size: 16pt;
}

.warn{
  width: 90%;
  padding: 5px;
  font-size: 12px;
  color: red;
  margin-top: 50px;
}
